.idea/*
.gitignore
.DS_Store
composer.lock
.tags
.tags_sorted_by_file
.idea
.DS_Store
nbproject
.phpunit.result.cache
data/log
data/logs
home/
.php_cs.cache
.env.dev
.env.stg
.env.gra
.env.prd
.env.local
bin/.config.sh
hll-config/